.container-filters {
  margin-bottom: 50px;
  width: 950px;
}

.btn-filter {
  border: none;
  height: 40px;
  padding: 8px 16px;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content-filters {
  margin-top: 16px;
  background: #FAFAFA;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 220px;
  display: flex;
}

.items-filter {
  width: 220px;
  padding: 32px;
}

.items-filter strong {
  color: #B9B9B9;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
}

.separator {
  border-right: 1px solid #EAEAEA;
  height: auto;
  margin: 20px 0;
}

.container-action-buttons {
  display: flex;
  align-items: flex-end;
  margin: 0 18px 18px 0;
}

.btn-clear-filters {
  border: none;
  height: 40px;
  width: 98px;
  padding: 8px;
  background: #FAFAFA;
  font-family: 'Lato';
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 16px;
}

.btn-apply-filters {
  border: none;
  height: 40px;
  width: 98px;
  padding: 8px;
  background: linear-gradient(264.83deg, #3A9FF1 -3.28%, #05EDE3 100%);
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

.container-chips {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80%;
  margin-top: 18px;
}

.container-input-filter {
  display: flex;
  flex-direction: column;
}

.container-input-filter:first-of-type {
  margin-top: 18px;
}

.container-input-filter:last-of-type {
  margin-top: 12px;
}

.container-input-filter label {
  font-family: 'Rubik', sans-serif;
  font-size: 9px;
  color: #484848;
  font-weight: 400;
  margin-bottom: 4px;
}

.container-input-filter input {
  background: #FFFFFF;
  border: 1px solid #7B61FF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 15px 4px;
  font-size: 12px;
  height: 22px;
  width: 80px;
}